/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@import "nav-bar";
@import "pallette-list";
@import "colors";

body {
  margin: 0;
  padding: 0;
  color: $text;
  background: $background;
  font-family: Ubuntu Mono;
}

// .monospace {
//   font-family: Ubuntu Mono;
// }

.loading-screen {
  height: 100vh;
  font-size: 3rem;
  color: $text;
  display: flex;
  //margin-top: 4rem;
  justify-content: center;
  align-items: center;

  animation: 2s spinning infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
    //color: #fff;
  }

  to {
    transform: rotate(360deg);
    //color: #000;
  }
}
