@import "colors";

#nav-bar {
  height: 3rem;
  background: $foreground;
  box-shadow: 0 4px $foreground-shadow;
  margin-bottom: 4px;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar-jp {
  color: #f60;
  font-weight: bold;
}

.nav-bar-name {
  margin-left: 4rem;
}
