@import "colors";

.pallette-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

.pallette-block {
  background: $foreground;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px $foreground-shadow;
  width: 16rem;
}

.pallette-page-info {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
}

.pallette-info {
  display: flex;
  justify-content: space-between;
}

.pallette {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 0.3rem;
  //padding: 0.2rem;
  //background: $foreground-shadow;
  //box-shadow: 0 1px 6px 1px $foreground-shadow;
}

.pallette-color {
  width: 20%;
  height: 3rem;
  color: $text;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: attr(data-hex color);
  transition: filter 0.4s;
}

.pallette-color:active {
  transition: filter 0s;
  filter: brightness(50%);
}

.pallette-color * {
  //transition: opacity 0.2s;
}

.pallette-color:hover * {
  opacity: 1;
}

.pallette :first-child {
  border-top-left-radius: 0.3rem;
  //border-radius: 0.3rem 0 0 0.3rem;
}

.pallette :last-child {
  border-bottom-right-radius: 0.3rem;
  //border-radius: 0 0.3rem 0.3rem 0;
}

.pallette :nth-child(5) {
  border-top-right-radius: 0.3rem;
}

.pallette :nth-child(5n+1):nth-last-child(-n+5) {
  border-bottom-left-radius: 0.3rem;
}

.pallette :nth-child(5n):nth-last-child(-n+4) {
  border-bottom-right-radius: 0.3rem;
}

textarea#clipboard {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
}
